<h1>Password Generator</h1>

<form method="GET" action="/password/">
    <label for="length">Password Length:</label>
    <input type="number" id="length" name="length" value="12" min="6" max="20">
    <br><br>
    
    <input type="checkbox" name="uppercase" id="uppercase">
    <label for="uppercase">Include Uppercase Letters</label><br><br>

    <input type="checkbox" name="numbers" id="numbers">
    <label for="numbers">Include Numbers</label><br><br>

    <input type="checkbox" name="special" id="special">
    <label for="special">Include Special Characters</label><br><br>

    <button type="submit">Generate Password</button>
</form>
